# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.h5

*.pickle
*.csv
*.mat
*.npy
*.npz

*.bed
*.fa

.ipynb_checkpoints/
model_checkpoints/

analysis/max_isoform_logos/
analysis/max_cut_logos/
analysis/max_cut_dse_logos/

old/

apa_array/unprocessed_data/
#apa_array/processed_data/cleaned/
apa_array/processed_data/cleaned2/
#apa_array/processed_data/final/
apa_array/processed_data/final2/
#apa_array/processed_data/unfiltered/*_grouped_*
apa_array/detailed_variant_figs/
apa_array/rare_functional_vars/
apa_array/max_cut_logos/
apa_array/max_isoform_logos/

apa_native/unprocessed_data/
apa_native/apadb_crawled/
apa_native/processed_data/leslie_apadb/old/
apa_native/processed_data/leslie_polyadb/old/

apasix/unprocessed_data/
apasix/processed_data/original/
#apasix/processed_data/noacut/unfiltered/
#apasix/processed_data/noacut/cleaned/
apasix/processed_data/noacut/unfiltered/

doubledope/unprocessed_data/
doubledope/doubledope_*.csv
doubledope/processed_data/score_50/
#doubledope/processed_data/score_60/unfiltered/
#doubledope/processed_data/score_60/cleaned/

simple/unprocessed_data/
simple/processed_data/original/
#simple/processed_data/noacut/unfiltered/
#simple/processed_data/noacut/cleaned/

tomm5/unprocessed_data/
tomm5/processed_data/original/
#tomm5/processed_data/prefixed/unfiltered/
#tomm5/processed_data/prefixed/cleaned/

combined_random_plasmid_library/processed_data/

#No images/figures
*.png
*.svg
*.eps

#No pickle files
*.pickle
*.hdf5

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

#No temp
*~
