# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.h5

*.pickle
*.csv
*.mat
*.npy
*.npz

.ipynb_checkpoints/
model_checkpoints/

old/

apa_array/unprocessed_data/
#apa_array/processed_data/cleaned/
apa_array/processed_data/cleaned2/
#apa_array/processed_data/final/
apa_array/processed_data/final2/
#apa_array/processed_data/unfiltered/*_grouped_*
apa_array/detailed_variant_figs/
apa_array/rare_functional_vars/
apa_array/max_cut_logos/
apa_array/max_isoform_logos/

apa_native/unprocessed_data/
apa_native/apadb_crawled/
apa_native/processed_data/leslie_apadb/old/
apa_native/processed_data/leslie_polyadb/old/

apasix/unprocessed_data/
apasix/processed_data/original/
#apasix/processed_data/noacut/unfiltered/
#apasix/processed_data/noacut/cleaned/
apasix/processed_data/noacut/unfiltered/

doubledope/unprocessed_data/
doubledope/doubledope_*.csv
doubledope/processed_data/score_50/
#doubledope/processed_data/score_60/unfiltered/
#doubledope/processed_data/score_60/cleaned/

simple/unprocessed_data/
simple/processed_data/original/
#simple/processed_data/noacut/unfiltered/
#simple/processed_data/noacut/cleaned/

tomm5/unprocessed_data/
tomm5/processed_data/original/
#tomm5/processed_data/prefixed/unfiltered/
#tomm5/processed_data/prefixed/cleaned/

combined_random_plasmid_library/processed_data/

#No images/figures
*.png
*.svg
*.eps

#No pickle files
*.pickle
*.hdf5
